{% extends "bootstrap/base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">PRUEBA IN METRICS</h2>      
  </div>
  <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#1563ff ">PREDICCION</div>
        <div class="panel-body">   
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <P>* Escribir las variables independientes</P>
  <form action="{{ url_for('Predecir')}}" method="POST" class="form-inline" >
    <div class="form-group">
      <label >x0:</label>
      <input type="text" name="x0" class="form-control" placeholder="Escribir x0" ></div>
    <div class="form-group">
      <label >x1:</label>
      <input type="text" name="x1" class="form-control" placeholder="Escribir x1" ></div>
    <div class="form-group">
      <label >x2:</label>
      <input type="text" name="x2"  class="form-control" placeholder="Escribir x2" ></div>
      <div class="form-group">
        <label >x3:</label>
        <input type="text" name="x3" class="form-control" placeholder="Escribir x3" ></div>
      <div class="form-group">
        <label >x4:</label>
        <input type="text" name="x4" class="form-control" placeholder="Escribir x4" ></div>
      <div class="form-group">
        <label >x5:</label>
        <input type="text" name="x5"  class="form-control" placeholder="Escribir x5" ></div>
        <div class="form-group">
          <label >x6:</label>
          <input type="text" name="x6" class="form-control" placeholder="Escribir x6" ></div>
        <div class="form-group">
          <label >x7:</label>
          <input type="text" name="x7" class="form-control" placeholder="Escribir x7" ></div>
        <div class="form-group">
          <label >x8:</label>
          <input type="text" name="x8"  class="form-control" placeholder="Escribir x8" ></div>
          <div class="form-group">
            <label >x9:</label>
            <input type="text" name="x9" class="form-control" placeholder="Escribir x9" ></div>
          <div class="form-group">
            <label >x10:</label>
            <input type="text" name="x10" class="form-control" placeholder="Escribir x10" ></div>
          <div class="form-group">
            <label >x11:</label>
            <input type="text" name="x11"  class="form-control" placeholder="Escribir x11" ></div>
            <div class="form-group">
              <label >x12:</label>
              <input type="text" name="x12" class="form-control" placeholder="Escribir x12" ></div>
            <div class="form-group">
              <label >x13:</label>
              <input type="text" name="x13" class="form-control" placeholder="Escribir x13" ></div>
            <div class="form-group">
              <label >x14:</label>
              <input type="text" name="x14"  class="form-control" placeholder="Escribir x14" ></div>
              <div class="form-group">
                <label >x15:</label>
                <input type="text" name="x15" class="form-control" placeholder="Escribir x15" ></div>
              <div class="form-group">
                <label >x16:</label>
                <input type="text" name="x16" class="form-control" placeholder="Escribir x16" ></div>
              <div class="form-group">
                <label >x17:</label>
                <input type="text" name="x17"  class="form-control" placeholder="Escribir x17" ></div>
                <div class="form-group">
                  <label >x18:</label>
                  <input type="text" name="x18" class="form-control" placeholder="Escribir x18" ></div>
                <div class="form-group">
                  <label >x19:</label>
                  <input type="text" name="x19" class="form-control" placeholder="Escribir x19" ></div>
               
                  <div class="form-group">
                  <label >x20:</label>
                  <input type="text" name="x20"  class="form-control" placeholder="Escribir x20" ></div>
                  <div class="form-group">
                  <label >x21:</label>
                  <input type="text" name="x21" class="form-control" placeholder="Escribir x21" ></div>
                <div class="form-group">
                  <label >x22:</label>
                  <input type="text" name="x22" class="form-control" placeholder="Escribir x22" ></div>
                <div class="form-group">
                  <label >x23:</label>
                  <input type="text" name="x23"  class="form-control" placeholder="Escribir x23" ></div>
                  <div class="form-group">
                    <label >x24:</label>
                    <input type="text" name="x24" class="form-control" placeholder="Escribir x24" ></div>
                  <div class="form-group">
                    <label >x25:</label>
                    <input type="text" name="x25" class="form-control" placeholder="Escribir x25" ></div>
                  <div class="form-group">
                    <label >x26:</label>
                    <input type="text" name="x26"  class="form-control" placeholder="Escribir x26" ></div>
                    <div class="form-group">
                      <label >x27:</label>
                      <input type="text" name="x27" class="form-control" placeholder="Escribir x27" ></div>
                    <div class="form-group">
                      <label >x28:</label>
                      <input type="text" name="x28" class="form-control" placeholder="Escribir x28" ></div>
                    <div class="form-group">
                      <label >x29:</label>
                      <input type="text" name="x29"  class="form-control" placeholder="Escribir x29" ></div>
                      <div class="form-group">
                        <label >x30:</label>
                        <input type="text" name="x30" class="form-control" placeholder="Escribir x30" ></div>
                      <div class="form-group">
                        <label >x31:</label>
                        <input type="text" name="x31" class="form-control" placeholder="Escribir x31" ></div>
                      <div class="form-group">
                        <label >x32:</label>
                        <input type="text" name="x32"  class="form-control" placeholder="Escribir x32" ></div>
                        <div class="form-group">
                          <label >x33:</label>
                          <input type="text" name="x33" class="form-control" placeholder="Escribir x33" ></div>
                        <div class="form-group">
                          <label >x34:</label>
                          <input type="text" name="x34" class="form-control" placeholder="Escribir x34" ></div>
                        <div class="form-group">
                          <label >x35:</label>
                          <input type="text" name="x35"  class="form-control" placeholder="Escribir x35" ></div>

                          <div class="form-group">
                            <label >x36:</label>
                            <input type="text" name="x36"  class="form-control" placeholder="Escribir x36" ></div>

    <button type="submit" class="btn btn-primary">Predecir</button>
  </form>


    </div>
  </div>

  {% endblock %}
  {% block styles %}

  {{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->

  <link rel="stylesheet"
        href="{{url_for('.static', filename='css/styles.css')}}">

  {% endblock %}



