{% extends "bootstrap/base.html" %}
{% block content %}     
<div class="container">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">INMETRICS </h2>      
    <p style="color:#fff;">Using Machine Learning to Predict</p>

  </div>         
</div>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body" style="background-color:#1daeff;">
    <h4 style="color:#fff; class="card-title">PREDICCION </h4>
    <hr/>
  </div></p>
    <p class="card-text"><div class="alert alert-danger" role="alert">
    <p> PREDICCION: {{my_predictionA_dia}} </p>

</div></p>
<!-- Main ML Prediction Display Ends Here -->
  <div class="card-footer text-muted">
  </div>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}